.modal-container {
  position: relative;
  display: inline-flex;
  width: 100%;
}

.modal-container__wrapper {
  left: 0;
  width: 100%;
  background: white;
  border-radius: 8px;
  max-height: calc(100vh - 16px);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05), 0px 2px 8px 0px rgba(0, 0, 0, 0.10), 0px 16px 20px 2px rgba(0, 0, 0, 0.16);
}

.attached-modal-portal {
  background:white;
  z-index: 10000000;
  border-radius: 16px 16px 0px 0px;
  position: absolute;
  width: 100%;
}

.attached-modal-wrapper {
  background: white;
  z-index: 10000000;
  max-height: calc(100% - 64px);
  box-shadow:
          0px 0px 2px 0px rgba(0, 0, 0, 0.05), 0px 2px 8px 0px rgba(0, 0, 0, 0.10), 0px 16px 20px 2px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  position: absolute;
  width: 100%;
}

.modal-container__body {
  overflow-y: auto;
}

.modal-container__body::-webkit-scrollbar {
  width: 20px;
}

.modal-container__body::-webkit-scrollbar-track {
  background-color: transparent;
}

.modal-container__body::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.modal-container__body::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
